<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="canGoBack">
      <ion-button (click)="previousPage()">  <ion-icon name="arrow-dropleft"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="pc" slot="start">
      {{this.title}}
    </ion-title>
    <ion-title *ngIf="!pc" slot="start" size="small">
      {{this.title}}
    </ion-title>
    <!-- <ion-buttons *ngIf="connected">
      <ion-button (click)="this.reload()">Refresh</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="connected">
      {{this.userName}}
      <ion-button fill="solid" color="primary" (click)="this.logout()">Disconnect</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!connected">
      <ion-button fill="solid" color="primary" (click)="this.router.navigate(['/login'])">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
