<app-header [title]="this.listTitle"></app-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        <ion-checkbox slot="start" checked="{{todo.isDone}}" (click)="update(todo)"></ion-checkbox>
        <ion-label>
          <h2>{{ todo.title }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(todo)">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <section>
  <ion-button expand="block" [routerLink]="['/addtodo']" *ngIf="canAddTodo()">Add a New Todo</ion-button>
  <ion-button expand="block" (click)="openContributorManager()" *ngIf="isOwner()">Manage contributor</ion-button>
  <!-- <ion-button expand="block" (click)="getTitle()">DEBUG</ion-button> -->
  </section>
</ion-content>
