<ion-header>
  <ion-toolbar>
    <ion-title>Contributor Management</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="addNewContributor(login.value)">
    <div class="ion-padding">
      <ion-item>
        <ion-input  name="email" type="email" placeholder="your@email.com" ngModel required #login></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{toggleLegend}}</ion-label>
        <ion-toggle (click)="toggleChange()" checked="toggleVal"></ion-toggle>
      </ion-item>
      <div class="ion-padding">
        <ion-text color="danger" *ngIf="!hideErrMessage">{{errMessage}}</ion-text>
        <ion-text color="success" *ngIf="!hideSuccessMessage">{{successMessage}}</ion-text>
      </div>
      <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
    </div>
  </form>
</ion-content>
