<ion-header>
  <ion-toolbar>
    <ion-title>Contributor Management</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="addNewContributor(login.value)">
    <div padding>
      <ion-item>
        <ion-input  name="email" type="email" placeholder="your@email.com" ngModel required #login></ion-input>
      </ion-item>
      <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
    </div>
  </form>
</ion-content>
