<ion-header>
  <ion-toolbar>
    <ion-title>Contributor Management</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="addNewContributor(login.value)">
    <div class="ion-padding">
      <ion-item>
        <ion-input  name="email" type="email" placeholder="your@email.com" ngModel required #login></ion-input>
      </ion-item>
      <ion-item>
        Read and Write<ion-toggle (click)="toggleChange()" checked="toggleVal"></ion-toggle>Read Only
      </ion-item>
      <div class="ion-padding">
        <ion-text color="danger" *ngIf="!hideErrMessage">{{errMessage}}</ion-text>
        <ion-text color="success" *ngIf="!hideSuccessMessage">{{successMessage}}</ion-text>
        <ion-text color="warning" *ngIf="!hideFailedMessage">{{failedMessage}}</ion-text>
      </div>
      <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
    </div>
  </form>
  <ion-list>
    <ion-title>Current contributors</ion-title>
    <ion-item-sliding *ngFor="let contrib of contributors">
      <ion-item>
        <ion-label>
          <h2>{{ contrib }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeContributor(contrib)">
          <ion-icon slot="top" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
