<app-header [title]="'Log In'"></app-header>

<ion-content>
  <form  #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Email" ngModel email required #login></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required #motDePasse></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-text color="danger" *ngIf="!hideErrMessage">{{errMessage}}</ion-text>
          </div>
          <div padding>
            <ion-text color="warning" *ngIf="!hideMailVerifMessage">Please verify your email address before you can connect.</ion-text><br>
            <ion-text color="warning" *ngIf="!hideMailVerifMessage" (click)="resendVerif(login.value, motDePasse.value)">I didn't get the mail.</ion-text>
            <ion-text color="warning" *ngIf="!hideMailResent">A new email as been sent.</ion-text>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="logIn(login.value,motDePasse.value)">Log in</ion-button>
          </div>
          <div padding>
            <ion-button  size="large" expand="block" routerLink="/password-recover">Recover Password</ion-button>
          </div>
          <div padding>
            <ion-button  size="large" expand="block" routerLink="/sign-up">Sign up</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
