<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input #login type="text">Adresse Mail</ion-input>
  <ion-input #confirmLogin type="text">Confirmation adresse mail</ion-input>
  <ion-input #motDePasse type="text">Mot de passe</ion-input>
  <ion-input #confirmMotDePasse type="text">Confirmation mot de passe</ion-input>
  <ion-button (click)=signUp(login.value,motDePasse.value,confirmLogin.value,confirmMotDePasse.value)>Sign-Up</ion-button>
</ion-content>
